# ── AWS ──────────────────────────────────────────────
AWS_REGION=ap-south-2
AWS_ACCESS_KEY_ID=676313371141
AWS_SECRET_ACCESS_KEY=Chinna@5220

# ── DynamoDB Tables ───────────────────────────────────
SESSION_TABLE=ChatSessions
USER_TABLE=Users
DEPARTMENT_TABLE=Departments
DOCTOR_TABLE=Doctors
TIMESLOT_TABLE=TimeSlots
APPOINTMENT_TABLE=Appointments
FEEDBACK_TABLE=Feedback

# ── Telegram ──────────────────────────────────────────
# Get this from @BotFather on Telegram when you create your bot
TELEGRAM_BOT_TOKEN=8601360521:AAFnbDgqmmw45nD0p3AlfeInAT_Icfbz6Dg

# Booking Calendar URL — set to your ECS public URL after deploy
BOOKING_CALENDAR_URL=https://saige-bimolecular-arlyne.ngrok-free.dev/book

# ── App ───────────────────────────────────────────────
PORT=3000
LOG_LEVEL=INFO
GOOGLE_API_KEY=AIzaSyAMWVhqVJvwUHlQ7M11QPsZyjq42tEHhNk